:root {
  --oxford: #0e1c36;
  --white: #f9fbf2;
  --blue: #40798c;
  --green: #70a9a1;
  --grey: #cfd7c7;
}

body {
  background: linear-gradient(var(--oxford) 0%, var(--green) 100%);
  color: var(--white);
}

header {
  background-color: var(--oxford);
}

a {
  color: var(--white);
}

a :visited {
  color: var(--white);
}

h1 {
  color: var(--white);
}

h2,
h3,
h4 {
  color: var(--green);
}

.custom-card {
  background-color: var(--white);
}

.custom-card p {
  color: var(--blue);
}

.custom-btn {
  background-color: var(--oxford);
  color: var(--white);
}

.custom-btn:visited {
  color: var(--white);
}

.sections {
  color: var(--white);
  background: linear-gradient(var(--oxford) 0%, var(--green) 100%);
}

.connect {
  color: var(--white);
  font-weight: bold;
}

.hidden {
  display: none;
}

#menu-button {
  border: none;
  background: none;
  color: var(--white);
  font-size: 36px;
}

#nav-btns:hover {
  background-color: var(--green);
  border-radius: 10px;
}

#sport-button,
#tour-button,
#blog-button,
#weather-button,
#quiz-button,
#project-button {
  cursor: pointer;
}

#contact {
  background-color: var(--oxford);
}
