header {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

nav ul {
    text-align: end;
}

nav li {
    display: inline;
    width: 100%;
    padding: 10px;
}

img {
    display: inline;
}